* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:400;
    color: #252525;
}

hr {
    border-top: 1px solid #252525;
    width: 100%;
    margin: 20px 0;
}

/* Header - Logo and Navigation Menu*/
#header {
    height: 75px;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 40px;
}

nav {
    float: right;
}

#logo, #navmenu a {
    line-height: 75px;
    color: #252525;
}

#navmenu {
    letter-spacing: 4px;
}

#navmenu li {
    list-style-type: none;
    float: left;
    margin-right: 40px;
}

#navmenu a {
    text-decoration: none;
}

#navmenu a:hover {
    border-bottom: 3px solid;
}

.activepage {
    border-bottom: 3px solid;
}

/* Footer */

footer {
    padding: 3%;
    height: 75px;
}

footer li {
    list-style-type: none;
}

#footer-enquire {
    float: left;
    margin-left: 20px;
    color: #252525;
    width: 175px;
    padding-bottom: 3%;
}

#footer-enquire a {
    color: #252525;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    margin: 1%;
    padding: 1%;
    color: #252525;
}

#footer-top {
    float: right;
    margin-right: 20px;
    padding-bottom: 3%;
}

#footer-top a {
    color: #252525;
}

/* Mid sections */
.heading h2     {
    text-align: center;
    line-height: 45px;
}

.tour-type {
    height: 260px;
    margin: 0 45px 0 45px;
}

.left-block {
    width: 33%;
    height: 250px;
    float: left;
    border-style: solid;
    border-width: 3px;
    border-color: #252525;
}

.left-block img {
    width: 100%;
    height: 100%;
}

.right-block {
    width: 65%;
    float: right;
    line-height: 20px;
}

.right-block h2{
    letter-spacing: 2px;
    padding: 2px;
}

.right-block p{
    letter-spacing: 2px;
}

/* Gallery Page */
.gallery {
    clear: both;
    margin: 0 45px 0 45px;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

.gallery h2 {
    text-align: center;
    margin: 20px 0;
    width: 100%;
}

.gallery img {
    clear: both;
    width: 100%;
}

/* Form */
.form-section {
    border: 1px solid #252525;
    border-radius: 2px;
    width: 40%;
    height: 900px;
    margin: 45px auto;
}

.enquiry-form {
    margin: auto;
    max-width: 400px;
    padding: 30px;
}

.text-input {
    margin: 5px 0 20px 0;
    width: 100%;
    height: 25px;
    border: 3px solid #252525;
    border-radius: 6px;
}

.text-input:hover {
    border-color: cyan;
}

.enquire-button {
    margin-top: 20px;
    border-radius: 6px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #252525;
    color: #fafafa;
}

.enquire-button:hover {
    background-color: #616161;
    color: #252525;
}

#holiday-type {
    border: 3px solid #252525;
    border-radius: 6px;
    width: 100%;
}

.chkbox-input {
    margin: 5px;
    width: 10%;
    height: 25px;   
}

.text-area {
    height: 200px;
    width: 100%;
    resize: vertical;
    max-height: 350px;
}

/* media queries */
@media screen and (max-width: 1200px) {
    
    /* Header - Logo and Navigation Menu*/
    #header {
        height: 50px;
    }

    #logo {
        float: left;
        font-size: 200%;
        margin-left: 20px;
    }

    #logo, #navmenu a {
        line-height: 50px;
        color: #252525;
    }

    #navmenu {
        letter-spacing: 2px;
    }

    #navmenu li {
        list-style-type: none;
        float: left;
        margin-right: 20px;
    }

    #navmenu a:hover {
        border-bottom: 1px solid;
    }

    .activepage {
        border-bottom: 1px solid;
    }
    
    /* Mid sections */
    .tour-type {
        height: 200px;
        margin: 0 25px 0 25px;
    }

    .left-block {
        width: 33%;
        height: 200px;
        float: left;
        border-style: solid;
        border-width: 2px;
        border-color: #252525;
    }

    .right-block h2{
        letter-spacing: 2px;
        padding: 2px;
        font-size: 110%;
    }
}

@media screen and (max-width: 900px) {

    /* Header - Logo and Navigation Menu*/
    #header {
        height: 25px;
    }

    #logo {
        float: left;
        font-size: 125%;
        margin-left: 10px;
    }

    #logo, #navmenu a {
        line-height: 25px;
        color: #252525;
    }

    #navmenu {
        letter-spacing: 1px;
    }

    #navmenu li {
        list-style-type: none;
        float: left;
        margin-right: 10px;
    }

    #navmenu a:hover {
        border-bottom: 1px solid;
    }

    .activepage {
        border-bottom: 1px solid;
    }

    /* Footer */

    footer {
        padding: 3%;
        height: 50px;
    }

    #footer-enquire {
        text-align: center;
        margin: 0 auto;
        color: #252525;
        width: 100%;
    }

    #footer-top {
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }

    /* Mid Section */
    .heading h2     {
        text-align: center;
        line-height: 20px;
        font-size: 100%;
    }

    .tour-type {
        height: 200px;
        margin: 25px 25px 25px 25px;
    }

    .left-block {
        width: 50%;
        height: 100%;
        border-style: solid;
        border-width: 3px;
        border-color: #252525;
    }

    .right-block {
        width: 100%;
        line-height: 15px;
    }

    /* Form */
    .labels {
        font-size: 80%;
    }

    /* Gallery Page */
    .gallery {
        clear: both;
        margin: 0 45px 0 45px;
        line-height: 0;
        column-count: 3;
        column-gap: 0;
    }
}